
	
      <header id="header">
        <div class="header-top">
      </div>
        <div class="container main-menu">
          <div class="row align-items-center justify-content-between d-flex">
            <a href="index.html"><img src="../../assets/old/img/logo.png" alt="" title="" /></a>		
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="index.html">Home</a></li>
        <!--		  <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li class="menu-has-children"><a href="">Blog</a>
                <ul>
                  <li><a href="blog-home.html">Blog Home</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                  <li class="menu-has-children"><a href="">Level 2</a>
                    <ul>
                      <li><a href="#">Item One</a></li>
                      <li><a href="#">Item Two</a></li>
                    </ul>
                  </li>					              
                </ul>
              </li>     
              <li><a href="elements.html">Elements</a></li>		 -->				  			          	          
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->		
          </div>
        </div>
      </header><!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg"></div>	
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
          <div class="banner-content col-lg-6 col-md-6 ">
            <h6 class="text-white ">Need a repair? just call</h6>
            <h1 class="text-uppercase">
              MobiLappy				
            </h1>
            <p class="pt-10 pb-10 text-white">
              Whether you are busy working or enjoying your day, don't spend a minute to think about your gadget(mobile/laptop/tablet) repair.
            </p>
            <a href="#" class="primary-btn text-uppercase">Call:9666419044</a>
          </div>
          <div class="col-lg-4  col-md-6 header-right" style="   margin-top: 79px;">
            <h4 class="pb-30">Mobile / Laptop / Tablet!</h4>
            <form class="form" name="form" [formGroup]="form" (ngSubmit)="!form.valid && onSubmit()">
                <div class="form-group">
                  <input class="form-control txt-field" type="text" name="name" placeholder="Your name"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'" formControlName ="Name" [ngClass]="{'is-invalid':form.get('Name').touched && form.get('Name').invalid}" > 
                    <div class="invalid-feedback text-field">
                     <div>Name Not Valid</div>
                    </div>
                </div>
                <div class="form-group">
                  <input required class="form-control txt-field" type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" formControlName ="Email" [ngClass]="{'is-invalid':form.get('Email').touched && form.get('Email').invalid}">
                  <div  *ngIf="form.get('Email').touched && form.get('Email').invalid" class="invalid-feedback text-field">
                      <div *ngIf="form.get('Email').errors.required">Email is Required</div>
                      <div  *ngIf="form.get('Email').errors.email" >Email is not Valid</div>
                  </div>
                </div>
                
                <div class="form-group">
                  <input class="form-control txt-field" type="tel" maxlength="10" minlength="10" name="Phone" pattern="[0-9]" placeholder="Phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone number'" formControlName="Phone" [ngClass]="{'is-invalid':form.get('Phone').touched && form.get('Phone').invalid}">
                  <div *ngIf="form.get('Phone').touched && form.get('Phone').invalid" class="invalid-feedback text-field">
                    <div *ngIf="form.get('Phone').errors.required">Phone Number Required</div>
                    <div *ngIf="form.get('Phone').errors.minlength">Phone Number not valid</div>

                  </div>
                </div>
               
                <div class="form-group">
                   <!-- <div class="default-select" id="default-select" > -->
                     
                    <select name="Device_Type" formControlName ="Device_Type" >
                      <option value="" disabled selected hidden>Device type</option>
                      <option value="Mobile">Mobile</option>
                      <option value="Laptop/PC">Laptop/PC</option>
                      <option value="Tablet">Tablet</option>
                    </select>
                    
                    <!-- <select formControlName="Device_Type">
                      <option *ngFor="let device of devices" >{{device}}</option>
                    </select> -->
                  <!-- </div> -->
                  <div class="invalid-feedback" class="invalid-feedback" >
                    <div>Required</div>
                  </div>
                </div>
              
              <div class="from-group">
                <input class="form-control txt-field" type="text" name="Brand and model" placeholder="Brand and model"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"  formControlName ="Brand_and_Model" [ngClass]="{'is-invalid':form.get('Brand_and_Model').touched && form.get('Brand_and_Model').invalid}" >
                <div class="invalid-feedback">
                  <div>Brand and Model Required</div>
                </div>
              </div>	
                <div class="from-group">
                  <input class="form-control txt-field" type="text" name="Issue" placeholder="Issue"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"  formControlName ="Issue" [ngClass]="{'is-invalid':form.get('Issue').touched && form.get('Issue').invalid}" >
                  <div class="invalid-feedback">
                    <div>Please Menction Your Mobile Issue</div>
                  </div>
                </div>	
                <!--  <div class="form-group">
                     <div class="default-select" id="default-select2">
                  <select>
                    <option value="" disabled selected hidden>To Destination</option>
                    <option value="1">Destination One</option>
                    <option value="2">Destination Two</option>
                    <option value="3">Destination Three</option>
                  </select>
                </div>
                </div>		-->					    
                <div class="form-group">
                  <div class="input-group dates-wrap">                                              
                    <input id="datepicker2" type="date" class="dates form-control"  placeholder="Best time for device pickup" formControlName="Best_time_for_device_pickup"  >                        
                    <div class="input-group-prepend">
                      <span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
                    </div>											
                  </div>
                  <div class="invalid-feedback">
                    <div>Required</div>
                  </div>
                </div>							    
                <!-- <div class="form-group"> -->
                  <div class="form-group">
                     <div class="default-select" id="default-select">
                  <select formControlName ="City" > 
                    <option value="" disabled selected hidden>City</option>
                    <option value="Visakhapatnam">Visakhapatnam</option>
                    <option value="Hyderabad">Hyderabad</option>
                  </select>
                </div>
                <!-- <select formControlName="City">
                    <option *ngFor="let city of cyties" >{{city}}</option>
                  </select> -->
                <div class="invalid-feedback" >
                  <div>Select City</div>
                </div>
                </div>
                        <button class="btn btn-default btn-lg btn-block text-center text-uppercase" [disabled]="form.valid">Confirm repair request</button>

                <!-- </div> -->
            </form>
          </div>											
        </div>
      </div>					
    </section>
    <!-- End banner Area -->	

    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 about-left">
            <img class="img-fluid" src="../../assets/old/img/mobilappy.jpg" alt="">
          </div>
          <div class="col-lg-6 about-right">
            <h1>The process we follow </h1>
            <h4>Transparency in price & standardization of process</h4>
            <p>1) You will receive a text with a secret code for our delivery person who would pick the device from you at the mentioned slot.
                <br>  2)The person would take a few photographs of the device and share it with you for reference. 
                <br> 3)Our technician will diagnose the	device and give you a quotation. We will start repair only after your approval.
                <br>  4)We offer the best price in the city. Without repair our cost is only 60 INR for logistics purpose.							   
            </p>
        <!--		<a class="text-uppercase primary-btn" href="#">Get Details</a>  -->
          </div>
        </div>
      </div>	
    </section>
    <!-- End home-about Area -->
    
    <!-- Start services Area -->
<!--		<section class="services-area pb-120">
      <div class="container">
        <div class="row section-title">
          <h1>What Services we offer to our clients</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 single-service">
            <span class="lnr lnr-car"></span>
            <a href="#"><h4>Taxi Service</h4></a>
            <p>
              Usage of the Internet is becoming more common due to rapid advancement of technology and power.
            </p>
          </div>
          <div class="col-lg-4 single-service">
            <span class="lnr lnr-briefcase"></span>
            <a href="#"><h4>Office Pick-ups</h4></a>
            <p>
              Usage of the Internet is becoming more common due to rapid advancement of technology and power.
            </p>
          </div>
          <div class="col-lg-4 single-service">
            <span class="lnr lnr-bus"></span>
            <a href="#"><h4>Event Transportation</h4></a>
            <p>
              Usage of the Internet is becoming more common due to rapid advancement of technology and power.
            </p>
          </div>												
        </div>	
      </div>	
    </section>  -->
    <!-- End services Area -->
    
    <!-- Start image-gallery Area -->
<!--		<section class="image-gallery-area section-gap">
      <div class="container">
        <div class="row section-title">
          <h1>Image Gallery that we like to share</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>					
        <div class="row">
          <div class="col-lg-4 single-gallery">
            <a href="img/g1.jpg" class="img-gal"><img class="img-fluid" src="img/g1.jpg" alt=""></a>
            <a href="img/g4.jpg" class="img-gal"><img class="img-fluid" src="img/g4.jpg" alt=""></a>
          </div>	
          <div class="col-lg-4 single-gallery">
            <a href="img/g2.jpg" class="img-gal"><img class="img-fluid" src="img/g2.jpg" alt=""></a>
            <a href="img/g5.jpg" class="img-gal"><img class="img-fluid" src="img/g5.jpg" alt=""></a>						
          </div>	
          <div class="col-lg-4 single-gallery">
            <a href="img/g3.jpg" class="img-gal"><img class="img-fluid" src="img/g3.jpg" alt=""></a>
            <a href="img/g6.jpg" class="img-gal"><img class="img-fluid" src="img/g6.jpg" alt=""></a>
          </div>				
        </div>
      </div>	
    </section>    -->
    <!-- End image-gallery Area -->
    
    <!-- Start reviews Area -->
<!--		<section class="reviews-area section-gap">
      <div class="container">
        <div class="row section-title">
          <h1>Client’s Reviews</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>					
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-review">
              <h4>Cody Hines</h4>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>	
          <div class="col-lg-4 col-md-6">
            <div class="single-review">
              <h4>Chad Herrera</h4>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>	
          <div class="col-lg-4 col-md-6">
            <div class="single-review">
              <h4>Andre Gonzalez</h4>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>	
          <div class="col-lg-4 col-md-6">
            <div class="single-review">
              <h4>Jon Banks</h4>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>	
          <div class="col-lg-4 col-md-6">
            <div class="single-review">
              <h4>Landon Houston</h4>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>	
          <div class="col-lg-4 col-md-6">
            <div class="single-review">
              <h4>Nelle Wade</h4>
              <p>
                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              </p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>																															
        </div>
      </div>	
    </section>   -->
    <!-- End reviews Area -->
            
    <!-- Start home-calltoaction Area -->
<!--		<section class="home-calltoaction-area relative">
      <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row align-items-center section-gap">
          <div class="col-lg-8">
            <h1>Experience Great Support</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </div>
          <div class="col-lg-4 btn-left">
            <a href="#" class="primary-btn">Reach Our Support Team</a>
          </div>
        </div>
      </div>	
    </section>   -->
    <!-- End home-calltoaction Area -->
    
    <!-- Start latest-blog Area -->
<!--		<section class="latest-blog-area section-gap">
      <div class="container">
        <div class="row section-title">
          <h1>Latest News from our Blog</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>						
        <div class="row">
          <div class="col-lg-6">
            <div class="single-latest-blog">
              <div class="thumb">
                <img class="img-fluid" src="img/b1.jpg" alt="">
              </div>
              <ul class="tags">
                <li><a href="#">Travel</a></li>
                <li><a href="#">Life Style</a></li>
              </ul>
              <a href="#">
                <h4>Portable latest Fashion for young women</h4>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
              </p>
              <p class="date">31st January, 2018</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-latest-blog">
              <div class="thumb">
                <img class="img-fluid" src="img/b2.jpg" alt="">
              </div>
              <ul class="tags">
                <li><a href="#">Travel</a></li>
                <li><a href="#">Life Style</a></li>
              </ul>
              <a href="#">
                <h4>Portable latest Fashion for young women</h4>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
              </p>
              <p class="date">31st January, 2018</p>
            </div>
          </div>						
        </div>
      </div>	
    </section>    -->
    <!-- End latest-blog Area -->
    
    <!-- start footer Area -->		
<!--		<footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Quick links</h6>
              <ul>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Brand Assets</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Terms of Service</a></li>
              </ul>								
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Features</h6>
              <ul>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Brand Assets</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Terms of Service</a></li>
              </ul>								
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Resources</h6>
              <ul>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Experts</a></li>
                <li><a href="#">Agencies</a></li>
              </ul>								
            </div>
          </div>												
          <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
            <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>							
          <div class="col-lg-4  col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>Stay update with our latest</p>
              <div class="" id="mc_embed_signup">
                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                  <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                  <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                  <div style="position: absolute; left: -5000px;">
                      <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                    </div>

                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>	
          <p class="mt-80 mx-auto footer-text col-lg-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            
<!--							
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <!-- </p>											
        </div>
      </div>
      <img class="footer-bottom" src="img/footer-bottom.png" alt="">
    </footer>	--> 
    <!-- End footer Area -->	 

<!--		<script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>			
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
      <script src="js/easing.min.js"></script>			
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>	
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>	
     <script src="js/jquery-ui.js"></script>								
    <script src="js/jquery.nice-select.min.js"></script>							
    <script src="js/mail-script.js"></script>	
    <script src="js/main.js"></script>	
  </body>
</html>    -->

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>