<div class="succ">
  <h1 class="text-center" style="font-size: 100px">Thank You!</h1>
  <h2 class="text-center" style="font-size: 50px">Your Request Received </h2> <br>
  <h3 class="text-center" style="font-size: 30px">We will Contact you soon...... </h3> <br>
  <h5 class="text-center"  [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</h5>
  <!-- <input type="button" class="btn btn-success text-center" [routerLink]="['/home']" routerLinkActive="router-link-active" value="Home">  -->
</div>